* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    background: #333;
    height: 100px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: #fff;
    font-size: 50px;
}

nav a{
    color: #c4c4c4;
    text-decoration: none;
    margin-right: 50px;
}

nav a:hover {
    color: #e4e4e4;
}

.logout {
    color: #ffffff;
    background: #ff0000;
    padding: 9px;
    font-size: 16px;
    outline: none;
    border-radius: 6px;
    border: none;
    box-shadow: none;
    cursor: pointer;

    transition: .2s;
}

.logout:hover {
    background: #a70000;
}

.name {
    color: #ffffff;
}