{% extends "base.html" %}

{% block title %}АвтоТех{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <header class="header">
            <div class="header__inner">
                <div class="container">
                    <div class="logo">
                    АвтоТех
                    </div>
                </div>
            </div>
    </header>
    <main class="main">
        <div class="main__inner">
            <div class="container">
                <div class="text">
                    <div class="title">
                        Найдём водителя за 10 минут!
                    </div>
                    <div class="sup__title">
                        Зарегистрируйся в нашей ИС
                    </div>
                    <a href="{{ url_for('register') }}" class="register__button">
                        Зарегистрироваться
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}