{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock%}
{% block title %}Авторизация{% endblock %}

{% block body %}
    <form method="post" action="{{ url_for('login') }}" class="login__form">
        <h2 class="form__title">Авторизация</h2>
      {{ form.hidden_tag() }}

      {{ form.email(size=32, class="login__input") }}

      {{ form.password(size=32, class="login__input") }}

      {{ form.submit(class="login__submit") }}
    </form>
{% endblock %}
