{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock%}
{% block title %}Авторизация{% endblock %}

{% block body %}
    <form method="post" action="{{ url_for('login') }}" class="login__form">
        <h1 class="login__title">Авторизация</h1>
        <input type="text" class="login__input" name="email" placeholder="Логин">
        <input type="password" class="login__input" name="password" placeholder="Пароль">
        <input type="submit" value="Войти" class="login__submit">
    </form>
{% endblock %}
