{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
{% endblock%}
{% block title %}Регистрация{% endblock %}

{% block body %}
    <form method="post" action="{{ url_for('register') }}" class="register__form">
        {{ form.hidden_tag() }}
            <h1 class="form__title">Регистрация</h1>

            {{ form.first_name(size=32, class="register__input") }}

            {{ form.last_name(size=32, class="register__input") }}

            {{ form.email(size=32, class="register__input") }}

            {{ form.password(size=32, class="register__input") }}

            {{ form.confirm_password(size=32, class="register__input") }}

            {{ form.submit(class="register__submit") }}

        <a href="{{ url_for('login') }}" class="login__link">Уже есть аккаунт?</a>
    </form>
{% endblock %}
